header{
    background-color: rgb(78, 78, 78);
    width: 100%;
    position: fixed;
    top: 0;
}

body{
  background-image: url(https://img.freepik.com/fotos-premium/ceu-noturno-estrelas-e-galaxias-no-ceu-ao-entardecer_494741-58775.jpg);
  margin: 0%;
  padding-top: 8%;
}

.headercent{
  display: flex;
  justify-content: center;
  margin-left: 5%;
  align-items: center;


}

.nav{
  text-shadow: none;
  display: inline;
  position: relative;
  padding-left: 20px;
  font-size: large;
}

.superior{
  color: rgb(248, 232, 0);
  text-decoration: none;
  border: 2px solid rgb(0, 0, 0);
  padding: 1px 5px;
  background-color: rgb(87, 87, 87);
  transition: 4ms;
  border-radius: 8px; 
}

.textpadrao{
  text-align: justify;
  margin-left: 22%;
  margin-right: 22%;
  width: 55%;
  text-indent: 50px;
  font-size: large; 
  border: 3px solid orange;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  background-color: rgba(3, 14, 24, 0.726) ;
  border-radius: 2rem;
  color: rgb(238, 216, 95);
  margin-top: 1%;
  margin-bottom: 1%;
}

.img{
    margin: auto;
    display: block;
    width: 50%;

}

.titulopadrao{
  position: relative;
  left: 22%;
  width: 50%;
  text-align: center;
  font-size: x-large;
  letter-spacing: 3px;
  font-weight: bold;
}

.figcaption{
    font-size: xx-small;
    text-align: center;
}

#simb_header{
  display: flex;
}

#logo_starwars{
  width: 8rem;
  margin-right: 3rem;
}   

#frase1{
  position: absolute;
  left: 2%;
  top: 10%;
  width: 29%;
}

#frase2{
  position: absolute;
  right: 2%;
  top: 10%;
  width: 27%;

}


footer{
  text-align: center;
  padding-left: 2rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: rgb(238, 216, 95);
  height: 100px;
  background-image: linear-gradient(to right, blue, black, red);
  background-size: 100%;
  position: relative; 
}